@use 'variables';

body { 
    font-family: variables.$font-stack; 
    text-align: center; 
    background: #181818;
    color: #fff;
}

h1 {
    font-size: 2.4rem;
}

button {
    background: #00bcd4;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    
    &:hover {
        background: #0097a7; 
        transform: scale(1.05); 
        box-shadow: 0 4px 10px rgba(0, 188, 212, 0.5); 
    }

    &:active {
        background: #00838f; 
        transform: scale(0.95); 
        box-shadow: 0 2px 5px rgba(0, 188, 212, 0.5); 
    }
}
